html, body {
    background-color: #222;
}

h1 {
    text-align: center;
    color: white;
}
#circles {
    position: relative;
    margin: 10px auto;
    width: 1200px;
    height: 640px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: pink;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 1px 1px 10px;
}

.circle .entities {
    pointer-events: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.circle .entity {
    color: white;
    text-align: center;
    white-space: nowrap;
}

#websites-container {
    max-height: 400px;
    overflow: scroll;
}

.website {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}